---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Default.astro';
import FeatureList from '@components/feature/FeatureList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
  const allPosts = await getCollection('feature').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        tag,
        featureposts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  featureposts: CollectionEntry<'feature'>[];
}

const { tag, featureposts } = Astro.props;
---

<Layout
  title={`Feature: ${tag}`}
  description={`FilmSlop | All posts tagged with ${tag}`}
  pageTitle={`FilmSlop | Featureposts tagged with ${tag}`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/feature/'><p class="poppins">&larr; Back to features</p></Button>
    </div>
    <FeatureList posts={featureposts} />
  </main>
</Layout>
