---
---

<footer class='bg-white text-black p-4'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Made with luv & powered by  <a
      href='https://www.elian.codes/'
      target='_blank'
      class='text-blue'>ElianCodes</a
    >.
  </p>
</footer>
