---
import type { CollectionEntry } from "astro:content";

import FeatureSummaryCard from "./FeatureSummaryCard.astro";

export interface Props {
	posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.map((post) => {
      return (
        <li>
          <FeatureSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
