---
// import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import FeatureSummaryCard from './FeatureSummaryCard.astro';

interface Props {
  count?: number;
}

// const { count } = Astro.props;

const posts = await getCollection("feature").then((collection) => {
	return collection
		.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
});
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.map((post) => {
      return (
        <li>
          <FeatureSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
