---
import Layout from '@layouts/Default.astro';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='About Us'
  description='Glad you asked!'
  classList='h-full'
  pageTitle='About Us'
>
  <main class='bg-white px-6 py-5'>
    <section id='about' class='grid grid-cols-1 xl:grid-cols-8 gap-8 mt-4'>
        <div class='col-span-1 xl:col-span-7'>
          <Card>
            <div class='flex flex-col justify-between items-start gap-4'>
              <p class='mt-2 bungee text-2xl md:text-4xl lg:text-5xl'>
                What is FILMSLOP?
              </p>
              <p class='md:text-2xl lg:text-2xl'>
                We're a new film criticism site, a passion project run by Ali El-Sadany, George Iskander, and Warren Hildebrand. 

                Film touches every part of our lives: literature, music, language, our understanding of the world and even what we eat. Movies are for the people, not the ivory tower. So why is so much film criticism so inaccessible? What makes cinema special is the slop; although film is made for the theater it is so often experienced at home via bootlegs, camrips, and years-old 240p YouTube uploads. These imperfections and depictions of the human condition mirrored back to us on the screen are what stay with us and inform our connections to film.

                Here at FilmSlop we welcome, more than anything, stories about your experiences with cinema, whether that be creative, critical (or a combination of the two,) poetry or prose writing about film.

              </p>
            </div>
          </Card>
        </div>

        <div class='col-span-1 xl:col-span-4'>
          <Card>
            <h2 class='text-2xl md:text-3xl lg:text-4xl mb-4'>
            Do you accept submissions?
            </h2>
            <p class='md:text-l lg:text-xl'>
              We accept pitches. We're not dogmatic, we just want to hear about what film means to you. Read through some of our published pieces to get a sense of what we're about. For the moment, we currently cannot compensate writers.
            </p>
          </Card>
        </div>

        <div class='col-span-1 xl:col-span-3'>
          <Card>
            <h2 class='text-2xl md:text-3xl lg:text-4xl mb-4'>
            How do I contact you?
            </h2>
            <p class='md:text-l lg:text-xl'>
            Email us at <a class="hover:shadow-inner" href = "mailto: contact@filmslop.com">contact@filmslop.com</a>!
            </p>
          </Card>
        </div>

        <div class='col-span-1 xl:col-span-4'>
          <Card>
            <h2 class='text-2xl md:text-3xl lg:text-4xl mb-4'>
            How can I support FilmSlop?
            </h2>
            <p class='md:text-l lg:text-xl'>
           Share our work, and if you're up for it, write for us.
            </p>
          </Card>
        </div>
      </section>
  </main>
</Layout>
