---
import Layout from '@layouts/Default.astro';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='About Us'
  description='Glad you asked!'
  classList='h-full'
  pageTitle='About Us'
>
  <main class='bg-white px-6 py-5'>
    <section id='about' class='grid md:grid-cols-5 gap-8 mt-4'>
        <div class='col-span-4'>
          <Card>
            <div class='flex flex-col justify-between items-start gap-4'>
              <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
                PLACE | Who are we?
              </p>
              <p class='md:text-3xl lg:text-4xl'>
                We're a new film review site. PLACE is a a passion project by Ali El-Sadany and George Iskander.
                We like to think we're not pretentious about it — but we are crazy about it.
                PLACE is a spot for us and other writers to highlight cool cinema from across the world. 
              </p>
            </div>
          </Card>
        </div>

        <!-- <div class='col-span-2'>
          <Card>
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4'>
            Who are we?
            </h2>
            <p class='poppins'>
            PLACE is a film review site and a passion project by Ali El-Sadany and George Iskander.
            We like to think we're not pretentious about it — but we are crazy about it.
            PLACE is a spot for us and other writers to highlight cool cinema from across the world. 
            </p>
          </Card>
        </div> -->

        <div class='col-span-2'>
          <Card>
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4'>
            Do you accept submissions?
            </h2>
            <p class='md:text-xl lg:text-2xl'>
            Yes, we accept pitches and submissions. Just email us. 
            </p>
          </Card>
        </div>

        <div class='col-span-2'>
          <Card>
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4'>
            How can I support PLACE?
            </h2>
            <p class='md:text-xl lg:text-2xl'>
           We have a Patreon! 
            </p>
          </Card>
        </div>

        <div class='col-span-2'>
          <Card>
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4'>
            How do I contact you?
            </h2>
            <p class='md:text-xl lg:text-2xl'>
           Email us at 
            </p>
          </Card>
        </div>
      </section>
  </main>
</Layout>
