---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='dm-serif w-sm md:w-prose md:prose'>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
  <p class='dm-serif text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <slot />
  <p class='dm-serif'>Written by {content.author}</p>
  <!-- <a href='/blog/' title='Back to blog'>&larr; Back to blog</a> -->
</article>
