---
import BaseNavigation from '@components/layout/BaseNavigation.astro';
import BaseFooter from '@components/layout/BaseFooter.astro';
import BaseHead from '@components/layout/BaseHead.astro';

import '@fontsource/bungee';
import '@fontsource/dm-serif-display';
import '@fontsource/questrial';
import '@fontsource/poppins/300.css'
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/500.css'
import '@fontsource/sanchez'
import '@fontsource/outfit/400.css'
import '@fontsource/outfit/500.css'

interface Props {
  title: string;
  description: string;
  classList?: string;
  pageTitle?: string;
  ogImage?: URL;
}

const { title, description, classList, pageTitle, ogImage } = Astro.props;
---

<html lang='en' class='h-full'>
  <BaseHead ogImage={ogImage} title={title} description={description} />

  <body class:list={[classList]}>
    <BaseNavigation pageTitle={pageTitle} />
    <slot />
    <BaseFooter />
    <style is:global>
      .bungee {
        font-family: 'Bungee', sans-serif;
      }
      .outfit {
        font-family: 'Outfit', sans-serif;
      }
      .dm-serif {
        font-family: 'DM Serif Display', serif;
      }
      .poppins {
        font-family: 'Poppins', sans-serif;
      }
      .sanchez {
        font-family: 'Sanchez', serif;
      }
      .questrial {
        font-family: 'Questrial', sans-serif;
      }
      .card-shadow {
        filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
        transition: all;
        transition-duration: 0.5s;
        animation: ease-in-out;
      }
      .card-shadow:hover {
        filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
      }

      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
