---
import BlogList from "@components/blog/BlogList.astro";
import { Button, Card } from "@eliancodes/brutal-ui";
import { getCollection } from "astro:content";

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection("blog").then((posts) => {
	return posts
		.sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
    .reverse()
		.slice(0, count ?? 6);
});
---

<section class='mt-4'>
  <Card>
    <div class='flex justify-between items-start'>
      <h2 class='dm-serif text-2xl md:text-4xl lg:text-6xl mb-6'>
        Recent Articles
      </h2>
      <div class='hidden md:block'>
        <Button href='/blog/'><p class="poppins">All articles &rarr;</p></Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/blog/'><p class="poppins">All articles &rarr;</p></Button>
      </div>
    </div>
    <BlogList posts={posts} />
  </Card>
</section>
